*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body { 
	overflow-x: hidden;
}

body { min-width: 320px; background-color: #f9fbfd; }

body, input, select, textarea { font: normal 14px 'Lato', Arial, sans-serif; }

img { max-width: 100%; border: 0; }

ul { list-style: none; }

a { outline: none;}

blockquote {
	margin-bottom: 0.8em;
	padding-left: 1em;
	padding-top: 0.5em;
	background-color: #eee;
}

@media print {
	html, body {
		height: auto;
	}
}